@font-face {
  font-family: "ITC Bauhaus";
  src: url("styles/font/BauhausStd-Bold.ttf") format("truetype");
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.generate-note-button {
  background-color: var(--FRESH_GREEN);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.generate-note-button:hover {
  background-color: var(--LIGHT_GREEN);
}
.generate-note-button:disabled {
  background-color: #d3d3d3;
  color: #7a7a7a;
  cursor: not-allowed;
  opacity: 0.6;
}

h1 {
  font-family: 'ITC Bauhaus', sans-serif;
  font-size: 3.6em;
  line-height: 1.1;
}

#successful-generate {
  font-size: 2em;
  color: var(--FRESH_GREEN);
}